.about {
  display: flex;
  flex-direction: column;
}

.blink-soft {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.heroes {
  gap: 15px;
  justify-content: center;
  align-items: center !important;
}

.about-bg{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-attachment: fixed;
  filter: blur(3px);
  /* width: 100%;
  height: 100%;
   */
}


@media screen and (max-width: 768px){}
 .container.cards {
  flex-direction: row !important;
}