.contact {
  /* background-image: url(../assets//images/contact1.jpg); */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

/* img.contact {
  height: 200%;
  position: absolute;
  width: 100%;
} */

.contact .container {
  display: block;
}

.contact-us {
  padding: 100px 0;
  min-width: auto;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  height: auto;
  max-width: 1000px;
}

.contact-us h1 {
  /* font-size: xx-large;
  font-weight: 500; */
  margin: 30px 0;
}

.contact-us h2 {
  /* font-size: 2.5rem;
  font-weight: 500; */
  margin: 0 0 30px 0;
}

.contact-data {
  /* border-radius: 10px; */
  /* padding: 25px 30px; */
  padding: 50px 50px;
}

.col-1 {
  width: auto;
  /* padding-right: 50px; */
}

.col-1 h2 {
  /* margin: 0 10px 25px 0; */
  font-size: 3rem;
  font-weight: 400;
}

.col-1 h4 {
  /* s */
  font-size: large;
  font-weight: 300;
}

.col-1 span {
  font-size: large;
  font-weight: 400;
}

.col-1 a {
  transition: 0.5s;
}

.col-1 a:hover {
  transition: 0.5s;
  color: black;
}

.enquiry-form {
  /* min-width: 400px; */
  border-radius: 10px;
  padding: 50px 50px;
  width: 60%;
}

@media (max-width: 1025px) {
  .continercontact {
    margin: 0 50px !important;
  }
}

@media screen and (max-width: 885px) {
  .contact-data {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    /* padding: 25px 30px; */
    display: flex;
    justify-content: center;
    /* padding: 50px 50px; */
  }
  .contact-enquiry {
    flex-direction: column;
  }
  .continercontact {
    margin: 0 50px;
  }
  .enquiry-form {
    margin: 0 0 0 0;
    width: auto;
  }
}

@media screen and (max-width: 550px) {
  .enquiry-form {
    padding: 25px;
  }
}
