.content-container {
  height: 100%;
  min-height: calc(100vh - 252px);
  min-width: 350px;
}

@media screen and (max-width: 1250px) {
  .home.container {
    align-items: center !important;
  }
  .why-us {
    flex-direction: column;
    align-items: center !important;
    gap: 0px !important;
  }
}

@media screen and (max-width: 550px) {
  .form-mid {
    min-width: 320px;
    align-items: center !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: none !important;
    flex-direction: column;
  }
}

.logo {
  z-index: 999;
}

.mid-hero .containerhome {
  align-items: center;
}

.info-mid h1 {
  font-size: 30px;
  font-weight: 600;
}

.form-mid {
  min-width: 341px;
  /* max-width: 320px; */
  margin: 20px 0;
  padding: 30px 40px;
  top: -70px;
  /* border: 1px solid black; */
}

.form-mid h1 {
  font-weight: 500;
  font-size: x-large;
}

.form-mid p {
  margin-top: 5px;
  letter-spacing: 3px;
}

.slide-services {
  /* background-color: antiquewhite; */
  height: 750px;
}

.slide-services h1 {
  position: relative;
  top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.why-us {
  gap: 40px;
  /* align-items: center !important; */
}

.carousel_bottom {
  height: 250px;
}

/* form btn          --------------------------          */
div.submit-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* margin: 20px auto; */
  width: 96px;
  height: 40px;
  background: white;
  border-radius: 5px;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 15px;
  /* font-weight: normal; */
  letter-spacing: 2px;
  transition: 1s box-shadow;
}

div.submit-btn:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
}

div.submit-btn:hover::before,
div.submit-btn:hover::after {
  display: block;
  content: "";
  position: absolute;
  width: 96px;
  height: 40px;
  background: #fda8cf;
  border-radius: 5px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

div.submit-btn:hover:after {
  background: #f3ce5e;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}

.horizontal-shake {
  animation: horizontal-shaking 0.4s infinite;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

.press {
  animation: press 0.2s 1 linear;
}

@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  to {
    transform: scale(1);
  }
}
