@media screen and (max-width: 1024px) {
  .services_in {
    flex-direction: column;
  }
  .service-list {
    width: auto;
  }
}

@media screen and (max-width: 550px) {
  .service-list h1 {
    font-size-adjust: inherit;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
