.services-accordion svg {
  height: 22px;
  width: 22px;
}

ul.points {
  display: grid;
  grid-template-columns: 30px auto;
}

.point {
  background: none;
  transition: background 1s ease-in 1s;
}

.point:hover {
  color: white;
  background: linear-gradient(
    90deg,
    rgba(99, 102, 241, 1) 0%,
    rgba(139, 92, 246, 1) 50%,
    rgba(236, 72, 153, 1) 100%
  );
}
