button[aria-expanded="true"] .arrow {
  transform: rotate(45deg) translate(-5px, -5px);
}
button[aria-expanded="true"] .arrow:before {
  transform: translate(10px, 0);
}
button[aria-expanded="true"] .arrow:after {
  transform: rotate(90deg) translate(10px, 0);
}

/* #accordionFlush span {
  color: aqua;
} */

.arrow {
  width: 13px;
  height: 13px;
  display: inline-block;
  position: relative;
  bottom: -10px;
  left: -10px;
  transition: 0.4s ease;
  margin-top: 2px;
  text-align: left;
  transform: rotate(45deg);
}
.arrow:before,
.arrow:after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 12px;
  height: 3px;
  background-color: black;
  transition: 0.4s ease;
}
.arrow:after {
  position: absolute;
  transform: rotate(90deg);
  top: -5px;
  left: 5px;
}
