.side {
  min-width: 280px;
  max-width: 300px;
  position: sticky;
  top: 25px;
}

.side1{
  min-width: 280px;
  max-width: 300px;
}

@media screen and (max-width: 768px) {
  .side {
    max-width: 100%;
    position: static;
  }
}
